/**
 * Content (objects/_content.scss)
 */

/* ----- Headings ----- */
.content {
	> :first-child {
		margin-top: 0;
  }

  ul {
    list-style-type: disc;
  }

  a {
    color: $color-nav-hover;
  }
}
