/**
 * Base (generic/_base.scss)
 */

/* ----- General ----- */
html {
  font-size: 14px;
  @include box-sizing(border-box);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $screen-sm-min) {
    font-size: 16px;
  }
}

body {
  color: $color-dark;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

/* ----- Everything ----- */
* {
  &,
  &::before,
  &::after {
    @include box-sizing(inherit);
  }
}

/* ----- Headings ----- */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family-secondary;
  font-weight: 400;
  line-height: $line-height-headings;
  margin: 0 0 0.9375rem 0;

  &[id] {
    position: relative;
  }

  & + & {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: $font-size-h1;
  font-weight: 700;

  @media (max-width: 400px) {
    font-size: 2em;
  }
}

h2,
.h2 {
  font-size: $font-size-h2;
  font-weight: 700;
  border-bottom: 1px solid $color-h2-border;
  padding-bottom: 0.5rem;
}

h3,
.h3 {
  font-size: $font-size-h3;
  font-weight: 500;

  @media (max-width: 400px) {
    font-size: 1.25em;
  }
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

/* ----- Inline elements ----- */
small,
.text-small {
  font-size: $font-size-small;
}

/* ----- Paragraphs ----- */
p {
  margin: 0 0 1.25rem 0;
}

/* ----- Hyperlinks ----- */
a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.125em;
}

/* ----- Images ----- */
img {
  max-width: 100%;
  height: auto;
  vertical-align: -webkit-baseline-middle;
}

/* ----- Horizontal rules ----- */
hr {
  border: 0;
  border-top: 1px solid $color-horizontal-rule;
  margin: 0 0 1.25rem 0;
}

/* ----- States ----- */
::-moz-selection {
  background: rgba($color-yellow, 0.99);
  color: $color-dark-blue;
}

::selection {
  background: rgba($color-yellow, 0.99);
  color: $color-dark-blue;
}

/* ----- Quotes ----- */
blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  margin: 0 0 1.25rem 0;
}

q {
  color: $color-dark-blue;
}

/* ----- Lists ----- */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1.25rem 0;

  li {
    position: relative;
    margin-bottom: 0.3125rem;
  }
}

/* ----- Definition lists ----- */
dl {
  margin: 0 0 1.25rem 0;

  dt {
    color: $color-definition-list;
    font-weight: 700;
  }

  dd {
    margin: 0;
  }
}

/* ----- Acronym and Emphasize tags ----- */
acronym,
em {
  font-style: italic;
}

/* ----- Tables ----- */
table {
  width: 100%;
  text-align: left;
  font-size: $font-size-base;
  border-collapse: collapse;
  margin: 0 0 1.25rem 0;

  th,
  td {
    border: 2px solid $color-table-border;
    vertical-align: middle;
    padding: 0.625rem 0.9375rem;

    @media (min-width: $screen-sm-min) {
      padding: 0.8125rem 1.25rem;
    }

    a {
      border-color: $color-dark;
    }
  }

  th {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    background-color: $color-table-header-bg;
    border-color: $color-table-header-border;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0 0 1.25rem 0;

  @media (min-width: $screen-sm-min) {
    overflow-x: visible;
  }

  table {
    min-width: 43.75rem;
    margin: 0;

    @media (min-width: $screen-sm-min) {
      min-width: 0;
      margin: 0;
    }
  }
}

/* ----- Iframe ----- */
iframe {
  display: block;
  border: 0;
  margin: 0 0 1.25rem 0;
}

/* ----- Button ----- */
button {
  border: 0;
  padding: 0;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

/* ----- Other Classes ----- */

.subheadline {
  color: $color-purple;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: block;
    width: 30px;
    border: 1px solid $color-purple;
    margin-right: 8px;
  }
}

.purple {
  color: $color-purple;
  text-transform: uppercase;
}

.purple-numbers {
  @extend .purple;
  font-family: $font-family-monospace;
  margin: 0;
}

.dark-row {
  background-color: $color-dark-blue;
  padding: 65px 20px 65px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../../assets/images/layout/PatternRow.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 1076px 341px;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.light-row {
  @extend .dark-row;
  background-color: $color-light-blue;
  padding: 80px 0 0 0;

  @media (max-width: 1350px) {
    padding: 80px 20px 0 40px;
  }
}

.card {
  width: 320px;
  height: 305px;
  padding: 30px;
  color: $color-white;
  background-color: #15233b;
  margin: 0 100px 50px 0;

  @media (max-width: 1024px) {
    margin: 0 0 40px 0;
  }

  @media (max-width: 375px) {
    width: 250px;
  }
}

.blog-card {
  @extend .card;
  width: 310px;
  height: 350px;
  margin: 0 20px 50px 0;
}

.light-card {
  @extend .card;
  color: $color-black;
  background-color: $color-white;
}

.light-blue-card {
  @extend .light-card;
  background-color: $color-light-blue;

  @media (max-width: 1200px) {
    width: 275px;
  }
}

.border-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(#4a90e2, 0.2);
  background-color: $color-white;
  color: $color-black;
  padding: 20px;
  margin: 0 20px;

  p {
    font-size: 1em;
    line-height: 1.5em;
  }
  p:not(.subheadline) {
    flex: 1;
  }

  @media (max-width: 1200px) {
    width: 300px;
  }

  @media (max-width: 992px) {
    width: 500px;
    margin: 0 0 40px 0;
  }

  @media (max-width: 576px) {
    width: 400px;
  }

  @media (max-width: 450px) {
    width: 280px;
  }
}

.light-blue-card-container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.row-spacing {
  margin-bottom: 100px;
}

.half-row-spacing {
  margin-bottom: 50px;
}

.double-row-spacing {
  margin-bottom: 200px;
}

.card-cta {
  color: #65baf6;
}

.dark-card-cta {
  color: #ffffff;
}

.cta-row {
  background-color: $color-light-blue;
  padding: 40px 160px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    padding: 40px 40px;
  }
}

.cta-dark-row {
  @extend .cta-row;
  background-color: $color-dark-blue;
}

.mobile-logos {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

.used-by {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
  @media (max-width: 768px) {
    display: none;
  }

  img {
    margin: 0 32px 32px 0;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mobile-margin {
  margin-bottom: 60px;
}

.mobile-padding {
  @media (max-width: 768px) {
    padding: 0 4rem;
  }
  @media (max-width: 576px) {
    padding: 0 2rem;
  }
}

.row.vertical-align:after,
.row.vertical-align:before {
  display: none;
}

.tweets {
  position: relative;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.list-test {
  a {
    color: $color-nav-hover;
  }
}

.all-tweets {
  color: $color-nav-hover;
  text-align: right;
  margin-top: 40px;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.timeline {
  width: 100%;
  display: flex;
  overflow: scroll;

  iframe {
    margin-right: 30px;
    @media (max-width: 768px) {
      margin-right: 10px;
    }
  }
}

.block {
  width: 100%;
  height: 13px;
  background-color: #ffffff;
  position: absolute;
  @media (max-width: 768px) {
    top: 57px;
  }
  @media (max-width: 767px) {
    top: 49px;
  }
  @media (max-width: 400px) {
    top: 39px;
  }
}
