---
layout: homepage
tweets:
- https://twitter.com/seb_ruder/status/1116376108813803520
- https://twitter.com/JeffDean/status/1106325994913189888
- https://twitter.com/volkuleshov/status/1157510462944116737
- https://twitter.com/MobilizeCenter/status/1155871869733605376
- https://twitter.com/ajratner/status/1155922345111896064
- https://twitter.com/bigdata/status/1118878259129782273
- https://twitter.com/vincentsunnchen/status/1153473941530279936
- https://twitter.com/NathanBenaich/status/1151881870029787136
- https://twitter.com/YashAgrawal_/status/1140306183795830784
- https://twitter.com/ajratner/status/1149442147407413248
- https://twitter.com/ajratner/status/1146052743678877702
- https://twitter.com/stevebach/status/1145816945708666881
- https://twitter.com/ajratner/status/1145279183024730112
- https://twitter.com/ajratner/status/1144622795718037505
- https://twitter.com/oscarwijsman/status/1144563377148178432
- https://twitter.com/vincentsunnchen/status/1139934821692559360
- https://twitter.com/bradenjhancock/status/1141063956884123648
- https://twitter.com/GoogleAI/status/1106272915580805120
- https://twitter.com/stanfordnlp/status/1106416255211233280
- https://twitter.com/JeffDean/status/1106325994913189888
- https://twitter.com/ajratner/status/1106284512474882048
- https://twitter.com/ajratner/status/1107316980141486081
- https://twitter.com/ZDNet/status/1106993616373862400
- https://twitter.com/bigdata/status/1118878259129782273
- https://twitter.com/HiromuHota/status/1140664678441353216
- https://twitter.com/ajratner/status/1139934718336491526
- https://twitter.com/twimlai/status/1134489799711236101
- https://twitter.com/HiromuHota/status/1126156659112333312
- https://twitter.com/ajratner/status/1120816718748606464
- https://twitter.com/ajratner/status/1120809752403963905
- https://twitter.com/gijn/status/1113880928160550912
- https://twitter.com/matei_zaharia/status/1110413849625190402
- https://twitter.com/stevebach/status/1110273247184969728
- https://twitter.com/bradenjhancock/status/1108591362528542720
- https://twitter.com/MarinaWalkerG/status/1108112841616187392
- https://twitter.com/bigdata/status/1107092589189033984
- https://twitter.com/StanfordHAI/status/1106604784142954506
- https://twitter.com/ajratner/status/1096463113749024768
- https://twitter.com/MarinaWalkerG/status/1093954037400010754
- https://twitter.com/ajratner/status/1092930572391837696
- https://twitter.com/bradenjhancock/status/1092857555368402949
- https://twitter.com/ajratner/status/1092857577753309184
- https://twitter.com/ajratner/status/1091115553706496000
- https://twitter.com/ajratner/status/1090705554702389248
- https://twitter.com/ajratner/status/1089672241728565248
- https://twitter.com/jamescham/status/1070052006574735360
---

<div
  class="hero-subheader hero-subheader--no-bottom{% if page.grid_navigation %} hero-subheader--before-out{% endif %}">
  <div class="container">
    <div class="row row-spacing vertical-align mobile-padding">
      <div class="col-sm-6 mobile-margin">
        <p class="subheadline">SNORKEL: THE SYSTEM FOR</p>
        <h1>Programmatically Building and Managing Training Data</h1>
      </div>
      <div class="col-sm-6">
        <img src="/doks-theme/assets/images/layout/Pattern 3.png" alt="Pattern 3" />
      </div>
    </div>
    <div class="row row-spacing mobile-padding">
      <div class="light-blue-card-container">
        <div class="border-card">
          <p class="subheadline">Build</p>
          <h3>
            Build Training Sets Programmatically
          </h3>
          <p>
            Labeling and managing training datasets by hand is one of the biggest bottlenecks in machine learning.
            In Snorkel, write heuristic functions to do this programmatically instead!
          </p>
          <a href="/get-started/" class="btn" target="_blank">Get Started!</a>
        </div>
        <div class="border-card">
          <p class="subheadline">Model</p>
          <h3>Model Weak Supervision</h3>
          <p>
            Programmatic or <i>weak</i> supervision sources can be noisy and correlated.
            Snorkel uses novel, theoretically-grounded unsupervised modeling techniques to automatically clean and
            integrate them.
          </p>
          <a href="/blog/" class="btn">Read More!</a>
        </div>
        <div class="border-card">
          <p class="subheadline">Train</p>
          <h3>Train Modern ML Models</h3>
          <p>
            Snorkel outputs clean, confidence-weighted training datasets that easily plug into any modern machine
            learning framework.
          </p>
          <a href="/use-cases/" class="btn">Tutorials</a>
        </div>
      </div>
    </div>
    <div class="row row-spacing mobile-padding vertical-align">
      <div class="col-sm-5 mobile-margin hidden-xs">
        <img src="/doks-theme/assets/images/layout/Overview.png" alt="Quickstart" />
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <p class="subheadline">start in minutes</p>
        <h1>Quickstart</h1>

        <div class="code-block">
          <p># For pip users<br>pip install snorkel</p>
          <p># For conda users<br>conda install snorkel -c conda-forge</p>
          <!-- <span style="color: #9D3FA7;">import</span><span style="color: #18171C;"> snorkel</span> -->
        </div>
        <a href="https://github.com/snorkel-team/snorkel" class="btn" target="_blank">GitHub</a>
        <a href="/get-started/" class="btn" target="_blank">Get Started</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row light-row">
      {% assign cases = site.use_cases | sort: 'order' %}
      {% for case in cases limit:3 %}
      <a class="light-card" href="{{ case.url }}">
        <p class="purple-numbers">
          {{ forloop.index | prepend: '00' | slice: -2, 2 }}
        </p>
        <h4>{{ case.title }}</h4>
        <p>{{ case.excerpt }}</p>
        <span class="card-cta">
          READ MORE <i class="icon icon--arrow-right"></i>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row cta-row row-spacing">
      <a class="card-cta" href="/use-cases/">SEE ALL TUTORIALS <i class="icon icon--arrow-right"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="row row-spacing tweets">
      <h3>RECENT <a href="https://twitter.com/search?q=%23snorkelML&src=typed_query">#SNORKELML</a> NEWS</h3>
      <div class="block"></div>
      <div class="timeline" id="chrome">
        {% for tweet in page.tweets %}
        <iframe border=0 frameborder=0 height=625 src="https://twitframe.com/show?url={{tweet}}"
          loading="lazy"></iframe>
        {% endfor %}
      </div>
      <div class="timeline" id="notChrome">
        {% for tweet in page.tweets %}
        <iframe class="lazy" border=0 height="625" scrolling="no" frameborder=0
          data-src="https://twitframe.com/show?url={{tweet}}"></iframe>
        {% endfor %}
      </div>
      <div class="col-sm-12 all-tweets">
        <a href="https://twitter.com/ajratner/timelines/1143031904544813056">SEE ALL TWEETS <i
            class="icon icon--arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mobile-padding flex-row-center">
      <h3>USERS & SPONSORS</h3>
    </div>
    <div class="row row-spacing mobile-padding">
      <div align="center">
        <img width=85%; src="/doks-theme/assets/images/layout/Group.png" alt="Logos">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row dark-row">
    {% for post in site.posts limit:4 %}
    <a class="card" href="{{ post.url }}">
      <p class="purple-numbers">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</p>
      <h4>{{ post.title }}</h4>
      <p class="blog-excerpt">{{ post.excerpt }}</p>
      <span class="dark-card-cta">
        READ MORE <i class="icon icon--arrow-right"></i>
      </span>
    </a>
    {% endfor %}
  </div>
</div>
<div class="container-fluid">
  <div class="row cta-dark-row">
    <a class="dark-card-cta" href="/blog/">SEE ALL BLOGS<i class="icon icon--arrow-right"></i></a>
  </div>
</div>
