---
layout: homepage
---

<div
  class="hero-subheader hero-subheader--no-bottom{% if page.grid_navigation %} hero-subheader--before-out{% endif %}">
  <div class="container">
    <div class="row row-spacing vertical-align mobile-padding">
      <div class="col-sm-6 mobile-margin">
        <p class="subheadline">SNORKEL: THE SYSTEM FOR</p>
        <h1>Programmatically Building and Managing Training Data</h1>
      </div>
      <div class="col-sm-6">
        <img src="/doks-theme/assets/images/layout/Pattern 3.png" alt="Pattern 3" />
      </div>
    </div>
    <div class="row row-spacing mobile-padding">
      <div class="light-blue-card-container">
        <div class="border-card">
          <p class="subheadline">Build</p>
          <h3>
            Build Training Sets Programmatically
          </h3>
          <p>
            Labeling and managing training datasets by hand is one of the biggest bottlenecks in machine learning.
            In Snorkel, write heuristic functions to do this programmatically instead!
          </p>
          <a href="/get-started/" class="btn" target="_blank">Get Started!</a>
        </div>
        <div class="border-card">
          <p class="subheadline">Model</p>
          <h3>Model Weak Supervision</h3>
          <p>
            Programmatic or <i>weak</i> supervision sources can be noisy and correlated.
            Snorkel uses novel, theoretically-grounded unsupervised modeling techniques to automatically clean and
            integrate them.
          </p>
          <a href="/blog/" class="btn">Read More!</a>
        </div>
        <div class="border-card">
          <p class="subheadline">Train</p>
          <h3>Train Modern ML Models</h3>
          <p>
            Snorkel outputs clean, confidence-weighted training datasets that easily plug into any modern machine
            learning framework.
          </p>
          <a href="/use-cases/" class="btn">Tutorials</a>
        </div>
      </div>
    </div>
    <div class="row row-spacing mobile-padding vertical-align">
      <div class="col-sm-5 mobile-margin hidden-xs">
        <img src="/doks-theme/assets/images/layout/Overview.png" alt="Quickstart" />
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <p class="subheadline">start in minutes</p>
        <h1>Quickstart</h1>

        <div class="code-block">
            <p># For pip users<br>pip install snorkel</p>
            <p># For conda users<br>conda install snorkel -c conda-forge</p>
          <!-- <span style="color: #9D3FA7;">import</span><span style="color: #18171C;"> snorkel</span> -->
        </div>
        <a href="https://github.com/snorkel-team/snorkel" class="btn" target="_blank">GitHub</a>
        <a href="/get-started/" class="btn" target="_blank">Get Started</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row light-row">
      {% assign cases = site.use_cases | sort: 'order' %}
      {% for case in cases limit:3 %}
      <a class="light-card" href="{{ case.url }}">
        <p class="purple-numbers">
          {{ forloop.index | prepend: '00' | slice: -2, 2 }}
        </p>
        <h4>{{ case.title }}</h4>
        <p>{{ case.excerpt }}</p>
        <span class="card-cta">
          READ MORE <i class="icon icon--arrow-right"></i>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row cta-row row-spacing">
      <a class="card-cta" href="/use-cases/">SEE ALL TUTORIALS <i class="icon icon--arrow-right"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="row row-spacing tweets">
      <!-- <div class="col-sm-8 col-sm-offset-2">
        <a class="twitter-timeline"
          href="https://twitter.com/ajratner/timelines/1143031904544813056?ref_src=twsrc%5Etfw">Recent Snorkel News -
          Curated tweets by ajratner</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div> -->
      <h3>RECENT <a href="https://twitter.com/search?q=snorkelml&src=typed_query">#SNORKELML</a> NEWS</h3>
      <div class="col-sm-4">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
              .@HazyResearch on the importance on building tools for weak supervision, and the creation of training data #TheAIconf NYC
          </p>
          &mdash; Ben Lorica (@bigdata)
          <a href="https://twitter.com/bigdata/status/1118878259129782273?s=20">April 18, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-4">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
              This post by the Snorkel team gives a great overview of ingredients that make up a state-of-the-art approach on GLUE:
              1) Traditional supervision
              2) Transfer learning
              3) Multi-task learning
              4) Dataset slicing (motivated by error analysis)
              5) Ensembling
              https://dawn.cs.stanford.edu/2019/03/22/glue/
          </p>
          &mdash; Alex Ratner (@ajratner)
          <a href="https://twitter.com/seb_ruder/status/1116376108813803520">April 11, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-4">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
              Hand-labeling training data for machine learning problems is effective, but very labor and time intensive.  
              This work explores how to use algorithmic labeling systems relying on other sources of knowledge that can provide many more labels but which are noisy.
          </p>
          &mdash; Jeff Dean (@JeffDean)
          <a href="https://twitter.com/JeffDean/status/1106325994913189888">March 14, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-12 all-tweets">
        <a href="https://twitter.com/ajratner/timelines/1143031904544813056">SEE ALL TWEETS <i
            class="icon icon--arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mobile-padding">
      <div class="col-sm-5 col-sm-offset-4">
        <h3>USERS & SPONSORS</h3>
      </div>
    </div>
    <div class="row row-spacing mobile-padding">
      <div align="center">
        <img width=85%; src="/doks-theme/assets/images/layout/Group.png" alt="Logos">
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row dark-row">
      {% for post in site.posts limit:4 %}
      <a class="card" href="{{ post.url }}">
        <p class="purple-numbers">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</p>
        <h4>{{ post.title }}</h4>
        <p class="blog-excerpt">{{ post.excerpt }}</p>
        <span class="dark-card-cta">
          READ MORE <i class="icon icon--arrow-right"></i>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row cta-dark-row">
      <a class="dark-card-cta" href="/use-cases/">SEE ALL BLOGS<i class="icon icon--arrow-right"></i></a>
    </div>
  </div>