---
layout: homepage
---
<div class="hero-subheader hero-subheader--no-bottom{% if page.grid_navigation %} hero-subheader--before-out{% endif %}">
  <div class="container">
    <div class="row row-spacing vertical-align mobile-padding">
      <div class="col-sm-6 mobile-margin">
        <p class="subheadline">SNORKEL: THE SYSTEM FOR</p>
        <h1>Programmatically Building and Managing Training Data</h1>
      </div>
      <div class="col-sm-6">
        <img src="/doks-theme/assets/images/layout/Pattern 3.png" alt="Pattern 3" />
      </div>
    </div>
    <div class="row row-spacing mobile-padding">
      <div class="light-blue-card-container">
        <div class="border-card">
          <p class="subheadline">Build</p>
          <h3>
            Build Training Sets Programmatically
          </h3>
          <p>
            Labeling and managing training datasets by hand is one of the biggest bottlenecks in machine learning.
            In Snorkel, write heuristic functions to do this programmatically instead!
          </p>
          <a href="/get-started/" class="btn" target="_blank">Get Started!</a>
        </div>
        <div class="border-card">
          <p class="subheadline">Model</p>
          <h3>Model Weak Supervision</h3>
          <p>
            Programmatic or <i>weak</i> supervision sources can be noisy and correlated.
            Snorkel uses novel, theoretically-grounded unsupervised modeling techniques to automatically clean and integrate them.
          </p>
          <a href="/blog/" class="btn">Read More!</a>
        </div>
        <div class="border-card">
          <p class="subheadline">Train</p>
          <h3>Train Modern ML Models</h3>
          <p>
            Snorkel outputs clean, confidence-weighted training datasets that easily plug into any modern machine learning framework.
          </p>
          <a href="/use-cases/" class="btn">Tutorials</a>
        </div>
      </div>
    </div>
    <div class="row row-spacing mobile-padding vertical-align">
      <div class="col-sm-5 mobile-margin hidden-xs">
        <img src="/doks-theme/assets/images/layout/Overview.png" alt="Quickstart" />
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <p class="subheadline">start in minutes</p>
        <h1>Quickstart</h1>
        <p>
          Run any of the following to install:
        </p>
        <div class="code-block">
          <p>pip install snorkel</p>
          <p>conda install snorkel -c conda-forge</p>
          <!-- <span style="color: #9D3FA7;">import</span><span style="color: #18171C;"> snorkel</span> -->
        </div>
        <a href="https://github.com/snorkel-team/snorkel" class="btn" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row light-row">
      {% assign cases = site.use_cases | sort: 'order' %}
      {% for case in cases limit:3 %}
      <a class="light-card" href="{{ case.url }}">
        <p class="purple-numbers">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</p>
        <h4>{{ case.title }}</h4>
        <p>{{ case.excerpt }}</p>
        <span class="card-cta">
          READ MORE <i class="icon icon--arrow-right"></i>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row cta-row row-spacing">
      <a class="card-cta" href="/use-cases/">SEE ALL TUTORIALS <i class="icon icon--arrow-right"></i></a>
    </div>
  </div>
  <div class="container">
    <h1>Recent #SnorkelML News</h1>
    <div class="row row-spacing tweets">
      <div class="col-sm-4">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">Exciting to see the Snorkel (<a
              href="https://t.co/f9wHneXNnX">https://t.co/f9wHneXNnX</a>) weak supervision paradigm being used for
            modalities beyond text. <a href="https://t.co/MZAmE31eYS">https://t.co/MZAmE31eYS</a></p>&mdash; Mobilize
          Center (@MobilizeCenter) <a
            href="https://twitter.com/MobilizeCenter/status/1155871869733605376?ref_src=twsrc%5Etfw">July 29, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-4">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">A quick recap of our last workshop + a preview of the feedback we&#39;re incorporating
            in the v0.9 release coming in mid-August <a href="https://t.co/1QQA3xm9b9">https://t.co/1QQA3xm9b9</a>. Not
            too late for feature requests :) <a href="https://t.co/0HKUdzIwyK">https://t.co/0HKUdzIwyK</a> <a
              href="https://twitter.com/hashtag/snorkelML?src=hash&amp;ref_src=twsrc%5Etfw">#snorkelML</a> <a
              href="https://twitter.com/henryehrenberg?ref_src=twsrc%5Etfw">@henryehrenberg</a></p>&mdash; Alex Ratner
          (@ajratner) <a href="https://twitter.com/ajratner/status/1155922345111896064?ref_src=twsrc%5Etfw">July 29,
            2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-4">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">Our work on weak supervision for structured scene graph prediction was accepted to
            ICCV! Code release coming soon! <a
              href="https://twitter.com/hashtag/snorkelML?src=hash&amp;ref_src=twsrc%5Etfw">#snorkelML</a><br><br>with
            <a href="https://twitter.com/paroma_varma?ref_src=twsrc%5Etfw">@paroma_varma</a> <a
              href="https://twitter.com/RanjayKrishna?ref_src=twsrc%5Etfw">@RanjayKrishna</a> <a
              href="https://twitter.com/msbernst?ref_src=twsrc%5Etfw">@msbernst</a> <a
              href="https://twitter.com/HazyResearch?ref_src=twsrc%5Etfw">@HazyResearch</a> <a
              href="https://twitter.com/drfeifei?ref_src=twsrc%5Etfw">@drfeifei</a> <a
              href="https://t.co/ZDvmFTQchn">https://t.co/ZDvmFTQchn</a></p>&mdash; vincent sunn chen (@vincentsunnchen)
          <a href="https://twitter.com/vincentsunnchen/status/1153473941530279936?ref_src=twsrc%5Etfw">July 23, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mobile-padding">
      <div class="col-sm-2 col-sm-offset-5">
        <p>USERS & SPONSORS</p>
      </div>
    </div>
    <div class="row row-spacing hidden-xs mobile-padding">
      <div class="used-by">
        <img src="/doks-theme/assets/images/layout/Google.svg" alt="Google Logo" />
        <img src="/doks-theme/assets/images/layout/Microsoft.svg" alt="Microsoft Logo" />
        <img src="/doks-theme/assets/images/layout/Intel.svg" alt="Intel Logo" />
        <img src="/doks-theme/assets/images/layout/YouTube.svg" alt="YouTube Logo" />
        <img src="/doks-theme/assets/images/layout/Google.svg" alt="Google Logo" />
        <img src="/doks-theme/assets/images/layout/Microsoft.svg" alt="Microsoft Logo" />
        <img src="/doks-theme/assets/images/layout/Toshiba.svg" alt="Toshiba Logo" />
        <img src="/doks-theme/assets/images/layout/Intel.svg" alt="Intel Logo" />
        <img src="/doks-theme/assets/images/layout/Toshiba.svg" alt="Toshiba Logo" />
        <img src="/doks-theme/assets/images/layout/YouTube.svg" alt="YouTube Logo" />
        <img src="/doks-theme/assets/images/layout/Google.svg" alt="Google Logo" />
        <img src="/doks-theme/assets/images/layout/Microsoft.svg" alt="Microsoft Logo" />
        <img src="/doks-theme/assets/images/layout/Intel.svg" alt="Intel Logo" />
        <img src="/doks-theme/assets/images/layout/YouTube.svg" alt="YouTube Logo" />
        <img src="/doks-theme/assets/images/layout/Intel.svg" alt="Intel Logo" />
        <img src="/doks-theme/assets/images/layout/Toshiba.svg" alt="Toshiba Logo" />
        <img src="/doks-theme/assets/images/layout/Google.svg" alt="Google Logo" />
        <img src="/doks-theme/assets/images/layout/YouTube.svg" alt="YouTube Logo" />
        <img src="/doks-theme/assets/images/layout/Toshiba.svg" alt="Toshiba Logo" />
        <img src="/doks-theme/assets/images/layout/Microsoft.svg" alt="Microsoft Logo" />
        <img src="/doks-theme/assets/images/layout/Google.svg" alt="Google Logo" />
        <img src="/doks-theme/assets/images/layout/Toshiba.svg" alt="Toshiba Logo" />
        <img src="/doks-theme/assets/images/layout/Microsoft.svg" alt="Microsoft Logo" />
        <img src="/doks-theme/assets/images/layout/YouTube.svg" alt="YouTube Logo" />
        <img src="/doks-theme/assets/images/layout/Intel.svg" alt="Intel Logo" />
      </div>
    </div>
    <div class="mobile-logos">
      <img src="/doks-theme/assets/images/layout/Google.svg" alt="Google Logo" />
      <img src="/doks-theme/assets/images/layout/Microsoft.svg" alt="Microsoft Logo" />
    </div>
    <div class="mobile-logos">
      <img src="/doks-theme/assets/images/layout/Intel.svg" alt="Intel Logo" />
      <img src="/doks-theme/assets/images/layout/YouTube.svg" alt="YouTube Logo" />
    </div>
    <div class="mobile-logos">
      <img src="/doks-theme/assets/images/layout/Toshiba.svg" alt="Toshiba Logo" />
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row dark-row">
      {% for post in site.posts limit:4 %}
      <a class="card" href="{{ post.url }}">
        <p class="purple-numbers">{{ forloop.index | prepend: '00' | slice: -2, 2 }}</p>
        <h4>{{ post.title }}</h4>
        <p>{{ post.excerpt }}</p>
        <span class="dark-card-cta">
          READ MORE <i class="icon icon--arrow-right"></i>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row cta-dark-row row-spacing">
      <a class="dark-card-cta" href="/use-cases/">SEE ALL BLOGS<i class="icon icon--arrow-right"></i></a>
    </div>
  </div>