---
layout: homepage
title: Use Cases
---
<div class="hero-subheader">
  <div class="container" style="margin-bottom: 100px;">
    <h1>{{ page.title }}</h1>
    <h4>Tutorials</h4>
  </div>

  {% include grid-navigation.html items=site.use_cases %}

  <div class="container" style="margin-top: 100px">
    <div class="row vertical-align mobile-padding">
      <div class="col-sm-5 mobile-margin">
        <p class="subheadline">Learn More</p>
        <h1>Publications</h1>
        <ul style="list-style-type: disc; margin-left: 18px;">
          {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-7">
        <img src="/doks-theme/assets/images/layout/Pattern 3.png" alt="Pattern 3" />
      </div>
    </div>
  </div>
</div>
